// Commonly used CSS

$primary-color: #00935f;
$h-color: #00945f;
$a-color : #009e77;
$button-color: #e97300;
$text-color: #888888;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    font-size: 30px;
    color: $h-color;
    position: relative;
    display: inline-block;
    font-weight: 500;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -15px;
        width: 80px;
        height: 2px;
        background-color: $primary-color;
    }
}

p {
    font-size: 18px;
    color: $text-color ;
    line-height: 1.8;
}

img {
    width: 100%;
}

a {
    color: $a-color;
    text-decoration: none;
    font-size: 18px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

@mixin btn {
    background-color: $button-color ;
    color: #fff;
    padding: 7px 19px;
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    border: 0;
}

// Header Section 

header {
    padding: 30px 30px;

    .logo {
        img {
            width: 100%;
            max-width: 400px;
        }
    }
}

// Banner Section

.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 449px;
    background-image: url('../images/banner.jpg');
    background-position: right 23%;
    background-repeat: no-repeat;
    background-size: 116%;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -85px;
        width: 57%;
        height: 100%;
        background-color: rgba(0, 100, 80, 0.8);
        transform: skewX(348deg);
        z-index: 1;
    }


}

// Investment section

section.investment {
    margin: 50px auto;

    .head-h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    p {
        font-size: 20px;
    }

    .btn {
        text-align: center;

        button {
            @include btn();
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;

        .box {
            line-height: 1.6;
            padding: 20px;
            position: relative;

            &:nth-child(odd)::after {
                content: "";
                position: absolute;
                top: 30px;
                right: 0;
                width: 1px;
                height: 70%;
                background-color: #e0e0e0;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 10px;
                color: $h-color;
                font-size: 24px;
            }

            p {
                font-size: 18px;
            }

            a {
                color: #9ab65e;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

// Green container

section.loans {
    .box {
        background-color: #ebf7f5;

        h3 {
            color: #fff;
            font-size: 24px;
            text-align: center;
            background-color: $primary-color;
            font-weight: 500;
            padding: 10px;
        }

        p {
            padding: 30px 60px;
        }
    }
}

// Team 

section.team {
    margin: 50px 0 100px;

    .team-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        .team-it {
            text-align: center;
            padding: 10px;

            img {
                position: relative;
                object-fit: contain;
                width: 200px;
                height: 200px;
                background-color: #f0f0f0;
                border-radius: 50%;
            }

            p {
                margin-bottom: 10px;
            }

            &:nth-child(odd) {
                padding: 0 15%;
            }
        }
    }
}


.custom-hr {
    height: 2px;
    border: none;
    background-color: $primary-color;
}

// footer

footer {
    margin: 50px 0;

    .footer {
        .social-img {
            margin: 20px 0;
            display: flex;

            img {
                padding: 5px 5px 0 0;
                width: 40px;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 11px;
            margin-bottom: 20px;

            a {
                font-size: 11px;
                color: $text-color;
                text-decoration: underline;
            }

            b {
                font-size: 12px;
                color: #000;
            }
        }
    }
}

.container {
    max-width: 95%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (width <=392px) {
    .banner {
        background-size: 1242px;
        background-position: top -94px left -317px;
        height: 342px;

        &::before {
            display: none;

        }
    }

    header {

        .logo {
            text-align: center;

            img {
                width: 100%;
                max-width: 173px;
            }
        }
    }
}

@media (width >=393px) and (width <=767px) {
    .banner {
        background-size: 1500px;
        background-position: top -143px right -707px;
        height: 342px;

        &::before {
            display: none;

        }
    }

    header {
        padding: 30px 30px;

        .logo {
            text-align: center;

            img {
                width: 100%;
                max-width: 250px;
            }
        }
    }
}

@media (width <=768px) {
    .mt-50 {
        margin-top: 5px !important;
    }

    .mb-50 {
        margin-bottom: 5px !important;
    }

    h2 {
        padding: 0 10px;
    }


    .container {
        max-width: 95%;
    }



    section.investment {
        .grid-container {
            grid-template-columns: 1fr;

            .box {

                &:nth-child(odd)::after {
                    top: auto;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #e0e0e0;
                }

            }
        }


    }

    section.investment {
        .btn {
            button {
                padding: 10px 20px;
                font-weight: 300;
                margin: 50px 0 20px;
            }
        }
    }

    section.loans {
        .box {
            p {
                padding: 30px;
            }
        }
    }

    section.team {
        .team-cont {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
    }


    section.team {
        .team-cont {
            .team-it {
                padding: 0 20% !important;
                margin-bottom: 30px;

                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

@media (width > 768px) and (width <=1200px) {
    section.team .team-cont .team-it:nth-child(odd) {
        padding: 0 0%;
    }
}